/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
	background-image: url('/assets/bg.gif');
	background-color: #6b6b6b;
	background-repeat: repeat-x;
    font-family: "Georgia", times, serif;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 0;
}

h1 { font-size: 20px; font-family: verdana, arial, sans-serif; color: navy}

.error {color: #d00; text-align: left; font-size: 16px; margin-left: 35px; margin-bottom: 30px;}
.notice {color: #0b0; text-align: left; font-size: 16px; margin-left: 35px; margin-bottom: 30px}

#mainContentDiv {padding-top: 20px; width: 675px; border: 1px solid #ccc; background-color: #ddd; margin-left: auto; margin-right: auto; margin-top: 40px; border-radius: 20px; text-align: center;}
#footerDiv {width: 650px; text-align: right; margin-left:auto; margin-right: auto; color: #444; margin-top: 8px}
#grayText {width: 250px; font-size: 12px; line-height: 16px; padding-top: 25px; color: gray; font-family: arial; text-align: justify;}