// Place all the styles related to the VirtualPagers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, tr, td {
	font-family: Georgia;
	font-size: 10px;
	line-height: 24px
}