<!DOCTYPE html>
<html>
<head>
  <title>VirtualPagers</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="mainContainer">
<%= yield %>
</div>

</body>
</html>
