<!DOCTYPE html>
<html>
<head>
  <title>VirtualPagers</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<div style="width: 700px; border: 1px solid #ccc; background-color: #ddd; margin-left: auto; margin-right: auto; margin-top: 40px; border-radius: 20px;">
	<%= link_to "Back To Virtual Pagers", {:controller => "virtual_pagers"}%>
<%= yield %>
</div>

</body>
</html>
